<!DOCTYPE html>
<html>
<head>
    <title>Add Product</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <div class="product-card">

</div>
</head>

<body>

<div class="container">

    <form action="/admin/add_product" method="POST">

        <h2>Add Product</h2>

        <input type="text" name="name" placeholder="Product Name" required>

        <input type="number" name="price" placeholder="Price" required>

        <input type="text" name="image" placeholder="Image URL" required>

        <textarea name="description" placeholder="Description" required></textarea>

        <button type="submit">Add Product</button>

    </form>

</div>

</body>
</html>